@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 150px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 5px 30px;
    font-weight: 500;
}

.toppage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 200px;
}

#maintext {
    position: absolute;
    font-size: 9em;
    color: #fff;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
}

.toppage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.content {
    position: relative;
    background-color: #00364b;
    padding: 100px;
}

.content h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}