body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('StockCake-Melodic_Neon_Metropolis-3008992-standard.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}